/* -------- GENERAL -------- */

body {
    top: 0;
    bottom: 0;
    font-family: 'raleway';
    background-color: green;
    width: auto;
    font-size: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    z-index: 2;
}