/* FONTS */

@font-face {
    font-family: 'raleway';
    src: url('../ressources/fonts/Raleway-VariableFont_wght.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayItalic';
    src: url('../ressources/fonts/Raleway-Italic-VariableFont_wght.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ralewayBold';
    src: url('../ressources/fonts/Raleway-ExtraBold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayLight';
    src: url('../ressources/fonts/Raleway-Light.ttf') format("truetype");
    font-weight: lighter;
    font-style: normal;
}


/* -------- GENERAL -------- */

body {
    top: 0;
    bottom: 0;
    font-family: 'raleway';
    background-color: transparent;
    width: auto;
    font-size: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h3 {
    font-size: 1.2rem;
}

li {
    list-style-type: none;
}

.fa {
    color: #0065FC;
}

.mainPage {
    display: block;
}

.searchSections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding-bottom: 50px;
}

.searchSections a,
footer a {
    text-decoration: none;
    color: black;
}

.searchSection1 {
    width: 70%;
}

.searchSection2 {
    width: 25%;
}


/* -------- HEADER -------- */

.headerNav {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    justify-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
}

.logo {
    justify-self: left;
    padding-top: 25px;
    padding-left: 20px;
    grid-column: 1;
}

.headerNav a {
    text-decoration: none;
    cursor: pointer;
    padding-top: 35px;
    margin-top: 0px;
    border-top: 3px solid white;
}

.accomodation {
    color: #0065FC;
    grid-column: 2;
    width: 60%;
}

.activities {
    color: grey;
    grid-column: 3;
    width: 35%;
}

.register {
    color: #0065FC;
    grid-column: 4;
    width: 40%;
}

.headerDescription {
    padding-top: 60px;
}

.register,
.headerDescription>h3 {
    font-family: "ralewayBold";
}

.headerDescription>h4 {
    font-family: "ralewayLight";
}

nav a:hover,
nav a:active {
    border-top: 3px solid #0065FC;
}


/* -------- SEARCH BUTTON -------- */

.searchButton {
    display: flex;
    justify-content: left;
    width: 100%;
    max-width: 100%;
}

.searchField {
    background: transparent;
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 2px;
    color: black;
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
    height: 40px;
}

::placeholder {
    color: black;
    opacity: 1;
}

.pressButton {
    border: 2px solid #0065FC;
    background-color: #0065FC;
    color: #F2F2F2;
    position: relative;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    height: 40px;
    cursor: pointer;
}

.logoButton {
    border: 2px solid #EEEEEE;
    background-color: #EEEEEE;
    color: #F2F2F2;
    position: relative;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    height: 40px;
}

i.fa.fa-map-marker {
    color: black;
    text-align: center;
}


/* -------- FILTERS -------- */

.filtersInfo {
    display: flex;
    flex-wrap: nowrap;
}

.filtersInfo>p {
    margin-right: 20px;
    padding-bottom: 20px;
}


/* -------- ACCOMODATIONS FOUND -------- */

.accomodationsWeFound {
    background-color: #F2F2F2;
    font-family: 'ralewayBold';
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.accomodationsWeFound h3 {
    padding-left: 20px;
}

.accomodationsBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.accomodationsContainers {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid transparent;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 15px 5px grey;
}

.accomodationsPhotos {
    text-align: center;
}

.accomodationsPhotos img {
    height: 150px;
    width: 320px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
}

.accomodationDescription {
    padding-left: 20px;
    padding-bottom: 5px;
}

.accomodationDescription p:nth-child(2) {
    font-family: 'raleway';
}

.stars1 i:nth-child(5),
.stars3 i:nth-child(5),
.stars4 i:nth-child(4),
.stars4 i:nth-child(5),
.stars5 i:nth-child(5) {
    color: grey;
}

.seeMore {
    margin-top: 20px;
    padding-left: 20px
}

.seeMore>a:hover {
    color: #0065FC;
}


/* ------ MOST POPULARS ------ */

.popularsSection {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
    font-family: 'ralewayBold';
}

.popularsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.popularsSection h3 {
    display: inline-block;
    padding-left: 20px;
}

.popularsBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.popularsContainers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 400px;
    background-color: white;
    border: 4px solid transparent;
    box-shadow: 0px 5px 15px 5px grey;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popularsPhotos img {
    height: 160px;
    width: 150px;
    border-radius: 5px 0px 0px 5px;
    object-fit: cover;
}

.popularsDescription {
    padding: 20px;
}

.popularsDescription p:nth-child(2) {
    font-family: 'raleway';
}

.starsPop2 i:nth-child(5),
.starsPop3 i:nth-child(5) {
    color: grey;
}


/* ------ ACTIVITIES ------ */

#activities {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
    font-size: 0.8rem;
}

#activities>h3 {
    font-family: "ralewayBold";
}

.activitiesBlock {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 240px;
    justify-items: center;
}

.activitiesContainers {
    margin-top: 20px;
    margin-bottom: 20px;
}

.activitiesCtn1 {
    grid-column: 1;
    grid-row: 1;
}

.activitiesCtn2,
.activitiesCtn3 {
    grid-column: 2;
}

.activitiesCtn4 {
    grid-column: 3;
    grid-row: 1;
}

.activitiesCtn5,
.activitiesCtn6 {
    grid-column: 4;
}

.activitiesCtn2,
.activitiesCtn4 {
    grid-row: 1;
}

.activitiesCtn3,
.activitiesCtn6 {
    grid-row: 2;
}

.activitiesCtn1 img,
.activitiesCtn4 img {
    height: 460px;
    width: 400px;
}

.activitiesCtn2 img,
.activitiesCtn3 img,
.activitiesCtn5 img,
.activitiesCtn6 img {
    height: 200px;
    width: 400px;
}

.activitiesDescription {
    background-color: white;
    border-style: solid;
    border-color: transparent;
    border-radius: 0px 0px 5px 5px;
}

.activitiesDescription p {
    padding-left: 10px;
}

.activitiesPhotos img {
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}


/* -------- FOOTER -------- */

footer {
    background-color: #f1f1f1;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "ralewayLight";
    font-size: 1rem;
}

footer h5 {
    font-family: "ralewayBold";
    font-size: 1rem;
}

.footerContainers {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.footerLists {
    color: black;
    padding-left: 0px;
}

.footerLists ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerLists li {
    padding-bottom: 20px;
    cursor: pointer;
}

.footerLists li:hover {
    text-decoration: underline;
}