/* FONTS */

@font-face {
    font-family: 'raleway';
    src: url('../ressources/fonts/Raleway-VariableFont_wght.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayItalic';
    src: url('../ressources/fonts/Raleway-Italic-VariableFont_wght.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ralewayBold';
    src: url('../ressources/fonts/Raleway-ExtraBold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayLight';
    src: url('../ressources/fonts/Raleway-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}


/* -------- GENERAL -------- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'raleway';
    background-color: white;
    font-size: 1em;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 60px;
}

h3 {
    font-size: 1.2rem;
}

li {
    list-style-type: none;
}

form {
    width: 100%;
}

.fa {
    color: #0065FC;
}

.searchSections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    height: 900px;
    width: 100%;
}

.searchSections a,
.activitiesSection a,
footer a {
    text-decoration: none;
    color: black;
}

.searchSection1 {
    height: 100%;
    width: 70%;
}

.searchSection2 {
    height: 100%;
    width: 25%;
}

.activitiesSection {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    font-size: 0.8rem;
}


/* -------- HEADER -------- */

.headerNav {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    justify-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
}

.logo {
    justify-self: left;
    padding-top: 25px;
    padding-left: 20px;
    grid-column: 1;
}

.headerNav a {
    text-decoration: none;
    cursor: pointer;
    padding-top: 35px;
    margin-top: 0px;
    border-top: 3px solid white;
    font-size: 1.2em;
}

.accomodation {
    color: #0065FC;
    grid-column: 2;
}

.activities {
    color: grey;
    grid-column: 3;
}

.register {
    color: #0065FC;
    grid-column: 4;
}

.headerDescription {
    padding-top: 60px;
}

.register,
.headerDescription>h3 {
    font-family: "ralewayBold";
}

.headerDescription>h4 {
    font-family: "ralewayLight";
}

nav a:hover,
nav a:active {
    border-top: 3px solid #0065FC;
}


/* -------- SEARCH BUTTON -------- */

.searchButton {
    display: flex;
    justify-content: left;
    width: 50%;
    align-items: center;
    max-width: 50%;
}

.searchButton>* {
    height: 40px;
}

.searchField {
    background: transparent;
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 3px;
    color: black;
    width: auto;
}

::placeholder {
    color: black;
    opacity: 1;
}

.myButton {
    border: 2px solid #0065FC;
    background-color: #0065FC;
    color: #F2F2F2;
    position: relative;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    cursor: pointer;
    width: auto;
}

.logoButton {
    border: 2px solid #EEEEEE;
    background-color: #EEEEEE;
    color: #F2F2F2;
    position: relative;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    width: 30px;
    padding-top: 8px;
}

i.fa.fa-map-marker {
    color: black;
    text-align: center;
}


/* -------- FILTERS -------- */

.filters {
    margin-top: 25px;
}

.filtersList {
    display: inline-flex;
    align-items: center;
}

.filtersInfo {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

.circle-icon {
    background: #DEEBFF;
    padding: 15px;
    border-radius: 50%;
    height: auto;
    width: auto;
}

.eco {
    display: inline-flex;
    align-items: center;
}

i.fa.fa-search {
    display: none;
}

i.fa.fa-money,
i.fa.fa-heart,
i.fa.fa-paw,
i.fa.fa-users {
    position: absolute;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    border: 3px solid #F2F2F2;
    border-radius: 0px 20px 20px 0px;
    margin-left: 30px;
}

.myBtnContainer {
    margin-left: 25px;
}

.btn:hover {
    background-color: #0065FC;
    color: white;
}

.filtersInfo>p {
    margin-left: 10px;
}

.filtersInfo i {
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    padding: 3px 9px 3px 9px;
}


/* -------- ACCOMODATIONS FOUND -------- */

.accomodationsWeFound {
    background-color: #F2F2F2;
    font-family: 'ralewayBold';
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.accomodationsWeFound h3 {
    padding-left: 20px;
}

.accomodationsBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 85%;
}

.accomodationsBlock>a {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.accomodationsContainers {
    border: 4px solid transparent;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 15px 5px grey;
}

.accomodationsPhotos img {
    height: 200px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
}

.accomodationDescription {
    padding-left: 20px;
    padding-bottom: 5px;
}

.accomodationDescription p:nth-child(2) {
    font-family: 'raleway';
}

.stars1 i:nth-child(5),
.stars3 i:nth-child(5),
.stars4 i:nth-child(4),
.stars4 i:nth-child(5),
.stars5 i:nth-child(5) {
    color: grey;
}

.seeMore {
    margin-top: 20px;
    padding-left: 20px
}

.seeMore>a:hover {
    color: #0065FC;
}


/* ------ MOST POPULARS ------ */

.populars {
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    font-family: 'ralewayBold';
}

.popularsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

i.fa.fa-line-chart {
    color: black;
}

.populars h3 {
    display: inline-block;
    padding-left: 20px;
}

.popularsBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.popularsBlock>a {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popularsContainers {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 4px solid transparent;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 15px 5px grey;
}

.popularsPhotos {
    width: 50%;
    height: 175px;
}

.popularsPhotos img {
    height: 100%;
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    object-fit: cover;
}

.popularsDescription {
    width: 50%;
    padding-left: 10px;
    outline: none;
}

.popularsDescription p:nth-child(2) {
    font-family: 'raleway';
}

.starsPop2 i:nth-child(5),
.starsPop3 i:nth-child(5) {
    color: grey;
}


/* ------ ACTIVITIES ------ */

.activitiesSection>h3 {
    font-family: "ralewayBold";
    padding-left: 40px;
}

.activitiesBlock {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 40px;
    column-gap: 20px;
    grid-template-rows: 240px;
    margin: 20px;
}

.activitiesBlock>a {
    text-decoration: none;
}

.activitiesContainers {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
}

.activitiesBlock>a:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.activitiesBlock>a:nth-child(2),
.activitiesBlock>a:nth-child(3) {
    grid-column: 2;
}

.activitiesBlock>a:nth-child(4) {
    grid-column: 3;
    grid-row: 1;
}

.activitiesBlock>a:nth-child(5),
.activitiesBlock>a:nth-child(6) {
    grid-column: 4;
}

.activitiesBlock>a:nth-child(2),
.activitiesBlock>a:nth-child(4) {
    grid-row: 1;
}

.activitiesBlock>a:nth-child(3),
.activitiesBlock>a:nth-child(6) {
    grid-row: 2;
}

.activitiesCtn1 img,
.activitiesCtn4 img {
    height: 480px;
    width: 100%;
}

.activitiesCtn2 img,
.activitiesCtn3 img,
.activitiesCtn5 img,
.activitiesCtn6 img {
    height: 200px;
    width: 100%;
}

.activitiesDescription {
    background-color: white;
    border-style: solid;
    border-color: transparent;
    border-radius: 0px 0px 5px 5px;
}

.activitiesDescription p {
    padding-left: 10px;
}

.activitiesPhotos img {
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}


/* -------- FOOTER -------- */

footer {
    background-color: #f1f1f1;
    width: 100%;
    font-family: "ralewayLight";
    font-size: 1rem;
}

footer h5 {
    font-family: "ralewayBold";
    font-size: 1rem;
}

.footerContainers {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    padding: 20px;
}

.footerLists {
    color: black;
    padding-left: 0px;
    margin: 20px;
}

.footerLists ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerLists li {
    padding-bottom: 20px;
    cursor: pointer;
}

.footerLists li:hover {
    text-decoration: underline;
}